/* This is the basic structure for a CSS code:
        (selected tag) {
            property: value;
        } */

h1{
    color: coral;
}

/* There are three more ways to choose color:
    - rgb code to select the color (to see rgb values just google "rgb picker" or "color picker"
    - By hex code (starting with a #)
    - rgba code (a is for alpha, and stands for how transparent the color will be (0 to 1)*/
li{
    color: rgb(102, 0, 255)
}

p{
    color: #ff0066;
}

h4{
    color: rgba(0, 204, 255, 0.5);
}