<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Models_app Index</title>
        <link rel="stylesheet" href="{% static 'models_app/style.css' %}">
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Models_app index view...</h1>
        <h2>Here is the list of access records:</h2>

        <div class="djangotwo">
            {% if access_records %}
        <table>
                <thead>
                    <th>Site Name</th>
                    <th>Date Accessed</th>
                </thead>

            {% for access in access_records %}
            <tr>
                <td>{{ access.name }}</td>
                <td>{{ access.date }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>NO  ACCESS RECORDS FOUND</p>
        {% endif %} 
        </div>
    </body>
</html>